# Snakemake run log
snakemake.out

# Subdirs
downloads/
bin/
corrected
*tmp*
test_data
RM*
work
megSAP

# Filetypes
.*
*.bam
*.cram
*.crai
*.tbi
*.bai
*.tar
*.gz
*.bed
*.gff3
*.bw
*.global.dist.txt
*.fasta
*.paf
*.vcf.gz.csi
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.meryl
*.csi
*fastq_pass*
*.parquet
*.hic
*.cool
*.mcool
*.d4
*.gfa
!*.noseq.gfa
*-frag-hap-list
fragments.bed
*.pptx
# Office Lock files
~$* 


# Large Assembly QC files
assembly/qc/**/*.fastq
assembly/qc/**/*.fa
assembly/qc/**/*.svg
assembly/qc/**/*.gfa
assembly/qc/**/*.paf

# Large LogFiles
logs/filtlong*.merylData
logs/filtlong
logs/porec_qc
logs/dip3d/
logs/repeatmasker
logs/methylation/*modkit_summary.log'
logs/methylation/T2T00.modkit_pileup_hp1.log
logs/methylation/T2T00.modkit_pileup_hp2.log

# Assembly Subdrs
assembly/input
assembly/input_qc
assembly/output
assembly/scaffold
assembly/variants

# Analysis Other
analysis_other/rfhap
analysis_other/cenmap
analysis_other/cenmap_single
analysis_other/flagger
analysis_other/gap_investigation
analysis_other/gedmatch_t2t_based
analysis_other/GQC
analysis_other/hifiasm
analysis_other/longdust
analysis_other/merqury_shortread
analysis_other/nucflag
analysis_other/pangenome
analysis_other/porec
analysis_other/repeatmasker
analysis_other/rfhap
analysis_other/assembly_repairer
analysis_other/dip3d
analysis_other/trioeval/*phaseblocks.tsv
analysis_other/assembly_issue_classification

# Results
results/*.pdf
results/**/*.pdf

# Sarahs Folder
sarah/outputs
sarah/data

# Ancestry Folder
analysis_other/ancestry/local
analysis_other/ancestry/plink
analysis_other/ancestry/processed_vcf
ld_pruned*
*.P
*.Q
*.bim
*.env

# Structure3D folder
ashic_read_pai*
contacts
*visualization.html
*weights.pt 
logs/structure3d/lordg_run

# WF-Pore-C
analysis_other/wf-pore-c/*/
!analysis_other/wf-pore-c/PoreC-Sequencing-QC_multiqc_report_data/
analysis_other/wf-pore-c/PoreC-Sequencing-QC_multiqc_report_data/multiqc_data.json

doc/tables/for_plots/small_variant_stats_details.*
doc/tables/for_plots/sv_stats_details.*
sv_stats_details.tsv
small_variant_stats_details.tsv

# Data folder
data/bamstats/mapped
data/basecalled/
data/corrected/
data/dbsnp
data/dorado_models
data/mapped
data/raw
data/short_read
data/ref
data/upload_folder

# Acestry logs
logs/ancestry

# Parent of Origin
*Variant_Assignment_info.tsv
small_variants.diploid.vcf.gz.tbi

# Newer samples

*T2T21*
*T2T22*
*T2T23*
*T2T24*
*T2T25*
*T2T26*
*T2T27*
*T2T28*
*T2T29*
*T2T30*
*T2T31*
*T2T32*
*T2T33*
*T2T34*
*T2T35*
*T2T36*