downloads/
.*
bin/
*.bam
*.tar
*.gz
assembly/qc/**/*.fastq
assembly/qc/**/*.fa
assembly/qc/**/*.svg
assembly/qc/**/*.gfa
assembly/qc/**/*.paf
*.fasta
*.paf
*.vcf.gz.csi
data/*/
logs/filtlong*
*.merylData
merqury/q
assembly/input
assembly/input_qc
assembly/output
assembly/scaffold
assembly/variants
corrected
*tmp*
test_data
*.meryl