downloads/
.*
bin/
*.bam
*.bai
*.tar
*.gz
*.bed
assembly/qc/**/*.fastq
assembly/qc/**/*.fa
assembly/qc/**/*.svg
assembly/qc/**/*.gfa
assembly/qc/**/*.paf
*.fasta
*.paf
*.vcf.gz.csi
data/*/
logs/filtlong*.merylData
merqury/q
assembly/input
assembly/input_qc
assembly/output
assembly/scaffold
assembly/variants
corrected
*tmp*
test_data
*.meryl
*.csi
*fastq_pass*
*.parquet
*.hic
*.mcool
*.d4
*.gfa
!*.noseq.gfa
fragments.bed
RM*
work
analysis_other/rfhap/**/pipeline_info
analysis_other/rfhap/**/ukmers_per_haplotype
analysis_other/rfhap/**/fastkm
analysis_other/rfhap/**/hap_fastq
analysis_other/rfhap/**/bam_fastq
analysis_other/rfhap/*

analysis_other/hifiasm
analysis_other/repeatmasker/*/
analysis_other/nucflag/plot
!analysis_other/repeatmasker/rm_summary


analysis_other/*
logs/filtlong
logs/porec_qc
logs/dip3d/
